[user]
	email = cunha@dcc.ufmg.br
	name = Italo Cunha
[push]
	default = simple
[color]
	ui = true
[core]
	excludesfile = ~/.config/gitignore
	editor = hx
[pull]
	rebase = true
[rebase]
	autoStash = true
# [diff]
# 	tool = code
# [difftool "code"]
# 	cmd = code --wait --diff $LOCAL $REMOTE
# 	prompt = false
# [merge]
# 	tool = code
# [mergetool "code"]
# 	cmd = code --wait --merge $LOCAL $REMOTE $BASE $MERGED
# 	prompt = false
