$include /etc/inputrc

set bell-style none
set bell-style visible
set enable-bracketed-paste on

"\C-p":history-search-backward
"\C-n":history-search-forward
"\e[3;5~":kill-word
"\C-H":backward-kill-word
