[REPORTS]
msg-template={path}:{line}: [{msg_id}({symbol}), {obj}] {msg}
reports=n

[MESSAGES CONTROL]
disable=C0111,C0103,C0301,C0321,C0330,R0801,R0903,R0911,R0913,R0914,R0902,R0904,I0011,W0511,W0104,W0312,W0603,E1102

[BASIC]

[FORMAT]
indent-string="\t"

[VARIABLES]
dummy-variables-rgx=_|dummy
